#adminBody {
    padding-top: 15px;
}

.admin-panel-navbar {
    text-align:center;
}
.admin-panel-navitem {
    padding: 15px;
}
.admin-panel-navitem:hover {
    background-color:lightgray;
}
.admin-panel-navlink, .admin-panel-navlink:hover {
    color: inherit;
    text-decoration: none;
}
.admin-panel-navitem-divider {
    border-top: 1px solid #222;
}
.admin-panel-navitem-active {
    background-color:darkgray;
}

.admin-content-height {
    height: 90vh;
}

.number-thingy {
    color: red;
    font-size: 40px;
}

.admin-table, .admin-table th, .admin-table td {
    border: 1px solid black;
    border-collapse: collapse;
}