body {
    background-color: #f6f6f6;
}

.invisble {
    display: none;
}

.signedOutInfoBlock {
    background-image: url("../images/MyCirclesBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.signedOutErrorBlock {
    background-color: #D47A7A;
    color: white;
    border-radius: 0.27rem;
    padding: 0.5rem 1rem;
    text-align: left
}

.infoBlockBrandName {
    font-size: 2.5rem;
    padding-bottom: -15px;
}

.btn-util-block {
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-google {
    background: url("https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Google-512.png");
    background-size: 1.25rem 1.25rem;
    background-position: 20px 7px;
    background-repeat: no-repeat;
    padding-left: 3.2rem;
    border-width: 1.5px;
}

.nav-profilepic {
    height: 45px;
    width: 45px;
    border: solid;
    border-color: #0cb0ca;
}

.content-container {
    margin-top: 3rem;
}

.user-container {
    position: relative;
}

.profilepic {
    border: solid;
    border-color: white;
    border-width: 7px;
    height: 170px;
    width: 170px;
}

.small-profilepic {
    height: 50px;
    width: 50px;
}

.mainprofilepic-container {
    position: absolute;
    top: 215px;
    left: 4rem;
}

.maindesc-container {
    position: absolute;
    top: 100%;
    left: 16rem;
    padding: 1rem;
}

.bio-span {
    font-style: italic;
}

.speech-bubble-receiver {
    position: relative;
    background: #e6f7fa;
    border-radius: .4em;
    text-align: right !important;
    padding: 17px;
    font-size: 16px;
    font-weight: 500;
}

.speech-bubble-sender {
    position: relative;
    background: rgb(235, 235, 235);
    border-radius: .4em;
    padding: 17px;
    font-size: 16px;
    font-weight: 500;
}

.input-height-lg {
    height: 50px;
}

.display-False {
    display: none !important;
}

.thick-border {
    border-width: thick;
}

.card-columns {
    @include media-breakpoint-only(xs) {
        column-count: 1;
    }

    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
}

.chat-header {
    position: sticky;
}

.chat-footer {
    position: sticky;
}

.chat-content {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.chatroom-user-list {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.fixed-wrapper {
    position: absolute;
    top: 0;
    left: -240px; /* Move this out to the left of the site body, leaving a 20px gutter */
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.IsLoggedIn-False {
    color: #d47a7a;
}

.IsLoggedIn-True {
    color: #63c473;
}

.selected {
    background-color: rgb(245, 248, 250);
}