.invisble {
    display: none;
}

.signedOutInfoBlock {
    background-image: url("../images/MyCirclesBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.signedOutErrorBlock {
    background-color: #D47A7A;
    color: white;
    border-radius: 0.27rem;
    padding: 0.5rem 1rem;
    text-align: left
}

.infoBlockBrandName {
    font-size: 2.5rem;
    padding-bottom: -15px;
}

.btn-util-block {
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-google {
    background: url("https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Google-512.png");
    background-size: 1.25rem 1.25rem;
    background-position: 20px 7px;
    background-repeat: no-repeat;
    padding-left: 3.2rem;
    border-width: 1.5px;
}
